:root{
	--titel-text-color: #212121;
	--accent-color: #2196F3;
	--primary-text-color: #757575;
	--primary-white-color: #FFFFFF;
	--bg-hero-footer: #2F303A;
	--primary-bg-color: #F5F5F5;
	--bg-buttom-team: #F5F4FA;
	--link-color-foot: rgba(255, 255, 255, 0.6);
}
body {
	background: var(--primary-white-color)
}		 

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

              /* Шапка */

.logo {
	color: #000000;
}

.web {
	color: var(--accent-color)
}

  .logo:focus,
 .logo:hover{
	color: var(--accent-color)
}

.heder-link:hover,
 .heder-link:focus{
	color: var(--accent-color)
}

.menu-nav {
	background: var(--primary-white-color)
}

.menu-nav .heder-link.current {
	color: var(--accent-color)
}

.heder-link {
	cursor: pointer;
}


.heder-link {
	color: var(--titel-text-color)
}

.authorizetion-nav {
}

                   /* Hero */
.main {
	background: var(--primary-bg-color)
}

.hero {
	background: var(--bg-hero-footer)
}

.hero-title {
	font-weight: 900;
		color: var(--primary-white-color)
}

.hero-button {
	background-color: var(--accent-color);
	color: var(--primary-white-color)
}

.hero-button {
	cursor: pointer;
}

              /*features  */
.features {

}

.features-title {
	display: none;
}

.features-list{}

.features-subtitle {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--titel-text-color)
}

.features-text {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--primary-text-color)
}

                  /*work*/

.work-title {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--titel-text-color)
}

                  /* team */
.team {
	background: var(--bg-buttom-team)
	}

.team-list {
}

.team-img {
	background: var(--primary-white-color)
}

.team-title {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--titel-text-color)
}
.team-subtitle {
	font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--titel-text-color)
}

.team-text {
	font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--primary-text-color)
}

                      /*footer  */
.footer {
	background: #2F303A;
}

.footer-logo {
	color: var(--primary-white-color)
}

.footer-logo:hover,
 .footer-logo:focus {
	color: var(--accent-color)
}

.footer-web {
	color: var(--accent-color)
}
.footer-nav {
}

 .footer-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--primary-white-color)
}
 
.footer-link:hover,
.footer-link:focus{
	color: var(--accent-color)
}
.foot-link {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--link-color-foot)
}

.foot-link:hover {
	color: var(--accent-color)
}



           /* Home work 2 */

.portfolio {
	color: var(--primary-bg-color)
}

 .portfolio-title {
	display: none;
}

.button:hover,
.button:focus {
	background: var(--accent-color)
}

.button:hover,
.button:focus {
	color: var(--primary-white-color)
}

.button {
	font-family: inherit;
	background: var(--bg-buttom-team)
	
}

.button {
	border: none
	
}

.button {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
}

.portfolio-list {
	
}

.portfolio-img{
	background: var(--primary-white-color)

}

.portfolio-subtitle {
	font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 0.06em;
		color: var(--titel-text-color)
}

.portfolio-text {
	font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.03em;
		color: var(--primary-text-color)
}