
body {
	background: #FFFFFF;
}		 

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

              /* Шапка */

.logo {
	color: #000000;
}

.web {
	color: #2196F3;
}

 .logo:hover
 .logo:focus,
  .heder-link:hover {
	color:#2196F3;
}

.menu-nav {
	background: #FFFFFF;
}


.heder-link {
	font-weight: 500;
	color: #212121;
	cursor: pointer;
}

.authorizetion-nav {
}

                   /* Hero */
.main {
	background: #F5F5F5;
}

.hero {
	background: #2F303A;
}

.hero-title {
	font-weight: 900;
		color: #FFFFFF;
}

.hero-button {
	background-color: #2196F3;
	color: #FFFFFF;
	cursor: pointer;
}

              /*features  */
.features {

}

.features-title {
	display: none;
}

.features-list{}

.features-subtitle {
	font-weight: 700;
		color: #212121;
}

.features-text {
	font-weight: 400;
		color: #757575;
}

                  /*work*/

.work-title {
	font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.03em;
}

                  /* team */
.team {
	background: #F5F4FA;
}

.team-list {
}

.team-img {
	background: #FFFFFF;
}

.team-title {
	font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.03em;
		color: #212121;
}
.team-subtitle {
	font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
}

.team-text {
	font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.03em;
		color: #757575;
}

                      /*footer  */
.footer {
	background: #2F303A;
}

.footer-logo {
	color: #FFFFFF;
}

.footer-web {
	color: #2196F3;
}

.footer-nav {
}

 .footer-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}
 
.footer-link:hover{
	color: #2196F3;
}
.foot-link {
font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.foot-link:hover {
	color: #2196F3;
}